.tabContainer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: calc(100% - 2rem); /* Adjusting the width to account for side space */
  height: 75px;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  margin-left: 0.8rem; /* Adding space on the left */
  margin-right: 0.8rem; /* Adding space on the right */
  gap: 15px;
  color: #86888b;
  font-size: 0.8rem;
  background: #30343a;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  gap: 4px;
  width: 5rem;
  color: #fff;

  /* Button Active */
  background: #282a2f;
  border-radius: 8px;
}

.btn {
  padding: 0.5rem 0.5rem;
  gap: 4px;
  width: 5rem;
  border-radius: 8px;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #30343a) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #30343a) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #30343a) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
